<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
            <tr>
                <td>
                    <div>Posted by: <%= post.user.email %></div>
                    <p class="fs-1 text-capitalize" ><%= link_to post.title, post_path(post), class: "text-decoration-none" %></p>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="container">
    <%= link_to 'New Post', new_post_path, class: "btn btn-dark"%>
</div>